.report{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    .top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        
    }
    
    .bottom{
        align-content: center;
        padding: 50px;   
        width: 70%;     
        
        .back {
            margin-bottom: 80px;
        }

        .table {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            border-radius: 10px;

            .row{
                .action-btns {
                    height: 60px;
                    display: flex;
                    justify-content: flex-end;
                    Button{
                        margin-left: 10px;
                    }
                }
            }
            .empty-row {
                p {
                    display: flex;
                    // align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    font-style: italic;
                }
            }
        }
    }

    .formats_list_modal{
        display: flex;
        .modal{

            .modalInput{
                width: 100%;
            }
        }
    }

}